.homeLink,
.aboutLink {
  padding-bottom: .5em;
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 250ms ease;
}

.homeLink:hover,
.aboutLink:hover {
  color: #1ea16b;
}

.homeLink::after,
.aboutLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
}

.homeLink:hover::after,
.aboutLink:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  color: #dddddd;
  line-height: 2px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
  margin: 0 auto;
  margin-bottom: 3em;
  background-color: #0f3443;
}

.container {
  width: 100%;
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.linkList {
  display: flex;
  list-style: none;
}

.linkList span {
  display: none;
}


.linkItem:first-child {
  padding: 0 1em 0 0;
}

@media (min-width: 360px) {
  .logo {
    font-size: 1.4rem;
  }
  .linkList {
    font-size: 1.1rem;
  }
}

@media (min-width: 540px) {
  .linkList i {
    display: none;
  }

  .linkList span {
    display: inline-block;
  }
}

@media (min-width: 760px) {
  .logo {
    font-size: 2rem;
  }

  .linkList i {
    display: none;
  }

  .linkList span {
    display: inline-block;
  }
  
  .linkList {
    font-size: 1.5rem;
  }
}