a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: #0f3443;
}

.container {
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.linkList {
  display: flex;
  list-style: none;
}

.linkList span {
  display: none;
}


.linkItem:first-child {
  padding: 0 1em 0 0;
}

@media (min-width: 360px) {
  .logo {
    font-size: 1.2rem;
  }
}

@media (min-width: 540px) {
  .linkList i {
    display: none;
  }

  .linkList span {
    display: inline-block;
  }
}

@media (min-width: 760px) {
  .logo {
    font-size: 2rem;
  }

  .linkList i {
    display: none;
  }

  .linkList span {
    display: inline-block;
  }
  
  .linkList {
    font-size: 1.5rem;
  }
}