.container {
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0 2em;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: .5em;
}

.txtInput {
  max-width: 320px;
  width: 100%;
  padding: .3em;
}

.searchBtn {
  padding: .3em;
}

.clearBtn {
  padding: .3em;
}