.card {
  padding: 2em;
  width: 100%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 5px 10px rgb(72, 72, 72);
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  backdrop-filter: blur(.5rem);
}

.img {
  border-radius: 50%;
  margin-bottom: 1em;
}

.userName {
  margin-bottom: 1em;
}

.btn {
  padding: .6em;
  background-color: #166e49;
  border-radius: .5em;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  box-shadow: 2px 3px 5px rgb(72, 72, 72);
}

.btn:hover {
  background-color: rgb(181, 121, 121);

}