.bgImage {
  z-index: -1;
  position: fixed;
  width: 360px;
  height: 360px;
  background-image: url(../pages/github-alt-svgrepo-com-0f3443.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}