.bgImage {
  z-index: -1;
  position: fixed;
  width: 360px;
  height: 360px;
  background-image: url(../../../images/github-alt-svgrepo-com-34e89e.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}