.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 0 2em;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: .5em;
}

.txtInput {
  border: 1px solid black;
  background-color: rgb(230, 230, 230);
  max-width: 400px;
  width: 100%;
  padding: 1em;
}

.searchBtn {
  border: none;
  background-color: #0f3443;
  color: rgb(255, 255, 255);
  padding: 1em;
}

.clearBtn {
  font-size: 1rem;
  border: none;
  background-color: rgb(221, 221, 221);
  padding: 1em;
}