.card {
  position: relative;
  padding: 2em;
  width: 100%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 5px 10px rgb(72, 72, 72);
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  backdrop-filter: blur(.6rem);
}

.card:hover {
  z-index: 10;
  transform: scale(1.3);
  transition: all 900ms ease-in-out;
}

.img {
  border-radius: 50%;
  margin-bottom: 1em;
}

.userName {
  font-size: 1.5rem;
  color:#0f3443;
  margin-bottom: 1em;
}

.btn {
  padding: .6em;
  background-color: #1ea16b;
  border-radius: .5em;
  text-decoration: none;
  font-weight: bold;
  color: rgb(213, 213, 213);
  box-shadow: 2px 3px 5px rgb(72, 72, 72);
  transition: all 250ms ease-in-out;
}

.btn:hover {
  background-color: #6ea990;
  text-decoration: none;
}

