*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 16px;
  background: linear-gradient(to right bottom,#34e89e,#0f3443) no-repeat center center fixed;
  background-blend-mode: multiply;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-weight: 600;
}
